* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {	/* font settings for non-bootstrap elements */
	font-family: Roboto, Arial, sans-serif;
	color: #555;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.content { /* footer sticker */
	min-height: calc(100vh - 192px);
}