* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {	/* font settings for non-bootstrap elements */
	font-family: Roboto, Arial, sans-serif;
	color: #555;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* BASIC SETUP */

.content { /* footer sticker */
	min-height: calc(100vh - 192px);
}

.clearfix {zoom: 1} /* it clears the float after an element */
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*  GROUPING  ============================================================================= */

.row-c {
    max-width: 1140px;
    margin: 0 auto; /* shorthand for 0 auto 0 auto   - top right bottom left */
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.row-c:before,
.row-c:after {
    content: "";
    display: table;
    clear: both;
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col-c {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
}

.col-c:first-child { 
    margin-left: 0 !important; 
} /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col-c { 
		margin: 1% 0 1% 0%;
        margin: 0 !important;
	}
}

/*  GRID OF TWO   ============================================================================= */

.span2of2 {
	width: 100%;
}

.span1of2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span2of2 {
		width: 100%; 
	}
	.span1of2 {
		width: 100%; 
	}
}

/*  GRID OF THREE   ============================================================================= */
	
.span3of3 {
    width: 100%;
}

.span2of3 {
	width: 66.13%; 
}

.span1of3 {
	width: 32.26%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span3of3 {
		width: 100%; 
	}
	.span2of3 {
		width: 100%; 
	}
	.span1of3 {
		width: 100%;
	}
}